{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css?3">
{% endblock %}

{% block content %}

{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <span class="title is-spaced is-size-2-desktop is-size-1-fullhd">This is a list of the wonderful people who keep Rengo up and running and are involved with its community.</span>
        <h2 class="subtitle">
Testing
        <br/>
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">Test</h1>
        <h2 class="subtitle">
Testing
        </h2>
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>
</section>

{% endblock %}